* {
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}

body {
    background-image: url('../GabrielG-Neo.github.io/Images/Background-GIFs.gif');
    
}

a {
    font-size: 20px;
    padding: 0px;
    color: rgb(248, 238, 238);
    text-decoration: underline;
}

.menu ul {
    display: flex;
    justify-content: center;
    list-style: none;
    font-size: 20px;
    padding: 30px;
}

.portfolio {
    background-image: url('../GabrielG-Neo.github.io/Images/Profile\ Pic\ \(3\).jpg');
    background-size: cover;
    padding: 0px;
    height: 400px;
    width:  250px;
}

aside {
    float: right;
    margin-right: 100px;
    margin-bottom: 20px;
    margin-top: 20px;
    padding: 20px;
}



#front-page {
    padding: 30px;
    background-image: url('../GabrielG-Neo.github.io/Images/darkbackground.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    margin: 150px 10px 10px 20px;
}

#front-page h2 {
    font-size: 125%;
    letter-spacing: 0.1em;
    text-align: left;
}

#front-page h1 {
    font-size: 30px;
    letter-spacing: 0.1em;
    text-align: left;
    text-indent: 7%;
}

#about-me {
    display: inline-flex;
    flex-flow: nowrap;
    padding: 35px;
    margin-right: 400px;
    margin-left: 30px;
    margin-top: 150px;
    background-image: url('../GabrielG-Neo.github.io/Images/darkbackground.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
}

#about-me h1 {
    font-size: 40px;
    margin-left: 20px;
}

#about-me p {
    font-size: 20px;
    padding: 10px;
    margin-bottom: 10px;
    word-spacing: 0.2em;
    
}

.swole {
    float: right;
}

#work {
    display: inline-flex;
    padding: 40px;
    margin-left: 400px;
    margin-top: 150px;
    margin-bottom: 150px;
    background-image: url('../GabrielG-Neo.github.io/Images/darkbackground.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
}

#work h1 {
    font-size: 40px;
    margin-top: 50px;
    margin-left: 10px;
}


#work ul {
    display: flex;
    flex-flow: nowrap;
    justify-content: center;
}

#contact {
    font-size: 30px;
    margin-bottom: 10px;
    text-align: center;
    list-style: none;
    
}

