
*
{
    margin: 0;
    padding: 0;
}

#particles-js {
    background: black;
}
    
.heading {
    position: absolute;
    letter-spacing: 10px;
    color: rgb(245, 238, 238);
    margin-top: 200px;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    margin-left: 20px;
	
}

.heading h1  {
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    margin-top: 50px;
	color: #070707;
	text-shadow: 2px 2px 7px #f8f7f7;
}

.heading h3  {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 70px;
	color: #070707;
	text-shadow: 2px 2px 7px #f8f7f7;
}

.card {
    align-items: center;
    margin-top: 0px;
    color: rgb(248, 244, 244);
    font-size: 18px;
    background-color: transparent;   
}

.card-img {
    margin-bottom: 20px;;
}

.workImages {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
}

body {
    text-align: center;
    background: black;

}
.menu ul  {
    align-items: center;
    list-style: none;
    font-size: 20px;
}

a {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
    
}

.col {
    font-size: 10px;
    letter-spacing: 1px;
}

.btn {
    background:
    linear-gradient(
    to right,
    var(--mainColor) 0%,
    var(--mainColor) 5px,
    transparent 5px
    );
}

img {
    -moz-box-shadow: 0 0 10px #777777; 
	-webkit-box-shadow: 0 0 10px #777777;
	box-shadow: 0 0 10px #777777;
    opacity: 0.5;
}
